<div class='infotext'>Edit stage: id={{id}} (Provider)</div>
<div class='control-group'>
        <button id='rm-{{id}}'>delete</button>
        <button id='accept-{{id}}'>accept</button>
        <button id='edit-link-{{id}}'>edit link</button>
        <span id='chart-status'></span>
</div>

<div class='project_editcard'>
        <div style='display:grid;grid-template-columns:1fr 1fr;gap:10px'>

        <!-- name -->
        <div class='input-group'>
                <label for='name-{{id}}'>Stage Chart name</label>
                <input type='text' id='name-{{id}}' value='{{name}}'>
        </div>

        </div>

<div style='display:flex;gap:10px'>
    <div>
        <div class='input-group'>
            <label for='upload-{{id}}'>Upload local file</label>
            <input type='file' id='upload-{{id}}' multiple>
        </div>
        <div style='margin: 10px auto 0px auto'>
            <button
                onclick='
                    uploadFiles(
                    "/cache?c={{id}}",
                    "upload-{{id}}",
                    "pbar-{{id}}",
                    "pct-{{id}}",
                    "status-{{id}}"
                )'>upload files</button>
        </div>
            <!-- progress bar divs -->
        <div>
            <div>
                <span id='pbar-{{id}}'></span>
                <span id='pct-{{id}}'></span>
            </div>
            <div id='status-{{id}}'></div>
        </div>
        <div class='input-group'>
            <label for='dl-{{id}}'>Download form url</label>
            <input type='text' id='dl-{{id}}'>
        </div>
        <div class='input-group'>
            <button id='file-browser'>Copy/Link file</button>
        </div>
    </div>
<div style='flex:1 1 100%'>
    <div class='input-group'>
            <label for='scr-{{id}}'>Files list</label>
            <textarea id='scr-{{id}}' class='code-editor'></textarea>
    </div>
</div>
</div>

        <div>
                <input type='checkbox' id='bypass-{{id}}' {{bypass}}>
                <label for='bypass-{{id}}'>bypass</label>
        </div>
</div>
