<div id='{{id}}' class='stage-box' style='left:{{posx}}px;top:{{posy}}px'>
<div class='chart-group'>
    <div><span id='box-name-{{id}}'>{{name}}</span><br><span>{{id}}</span></div>
<div id='box-type-{{id}}' style='display:flex;gap:5px;margin-left:auto;margin-right:auto'>{{type}}</div>
<div><input type='checkbox' id='box-check-{{id}}' {{checked}}><span style='margin-bottom:5px'>bypass</span></div>
<div style='display:flex;gap:5px;margin-left:auto;margin-right:auto'>
<button id='box-edit-{{id}}'>edit</button><button id='box-exec-{{id}}'>run</button>
</div>
</div>
</div>
