<div class='infotext'>Edit stage: id={{id}}</div>
<div class='control-group'>
        <button id='rm-{{id}}'>delete</button>
        <button id='accept-{{id}}'>accept</button>
        <span id='chart-status'></span>
</div>

<div class='project_editcard'>
        <div style='display:flex;gap:10px'>

        <!-- name -->
        <div class='input-group'>
                <label for='name-{{id}}'>Stage Chart name</label>
                <input type='text' id='name-{{id}}' value='{{name}}'>
        </div>

        <!-- type -->
        <div class='input-group'>
            Chart Type: VALIDATOR
        </div>

        </div>
        
        <!-- validator specifics -->
        <div style='display:flex;gap:10px'>
        <div class='input-group'>
            <label for='chart-valid-type'>Validation type</label>
            <select id='chart-valid-type' type='text'>
                <option value='file'>File checking</option>
                <option value='exec'>Validate by script</option>
                <option value='pattern'>Check pattern</option>
            </select>
        </div>

        <div class='input-group'>
            <label for='chart-valid-script'>Validator</label>
            <textarea id='chart-valid-script'></textarea>	
        </div>
        </div>
        <!-- validator ends -->
        
        <div> <!-- bypass checkbox -->
                <input type='checkbox' id='bypass-{{id}}' {{bypass}}>
                <label for='bypass-{{id}}'>bypass</label>
        </div>
</div>
