<div style='display:flex;gap:10px'>
<div class='input-group'>
        <label for='chart-exec-type'>Exec type</label>
        <select id='chart-exec-type' type='text'>
                <option value='script'>Script</option>
                <option value='queue'>Queue submission</option>
                <option value='mpi'>MPI program</option>
        </select>
</div>

<div class='input-group'>
        <label for='chart-exec-path'>Interpreter</label>
        <input type='text' id='chart-exec-path'>
</div>
</div>

<div style='display:flex;gap:10px'>
<div class='input-group'>
        <label for='chart-exec-cargs'>Interpreter arguments</label>
        <input type='text' id='chart-exec-cargs'>
</div>

<div class='input-group'>
        <label for='chart-exec-args'>Program arguments</label>
        <input type='text' id='chart-exec-args'>
</div>
</div>

<div class='input-group'>
        <label for='chart-exec-script'>Script</label>
        <textarea id='chart-exec-script'
        class='code-editor'
        placeholder="Write your code here..."
        spellcheck="false"></textarea>
</div>

