<div class='infotext'>Project: {{name}}</div>
<div class='control-group'>
<button id='btn-add-chart'>create stage</button>
<button id='btn-save-charts'>save projects</button>
<button id='btn-project-list'>projects list</button>
</div>
<!-- This mustbe moved else where related to arrow -->
<svg class='chart-connector'>
    <defs>
        <marker id="arrowhead" markerWidth="6" markerHeight="4" refX="4" refY="2" 
        orient="auto"><polygon points="0 0, 5 2, 0 4" fill="#E05338" />
        </marker>
    </defs>
</svg>
<div id='{{arena}}' class='project-area'></div>
<div id='arrow-collection'></div>
