<div class='infotext'>Edit stage: id={{id}}</div>
<div class='control-group'>
        <button onclick='save_chart("{{boxid}}");'>update</button>
        <button onclick='remove_chart("{{boxid}}");'>delete</button>
</div>

<div class='project_editcard'>
        <div style='display:flex;gap:10px'>

        <!-- name -->
        <div class='input-group'>
                <label for='chartname'>Stage name</label>
                <input type='text' id='chartname' {{name}}>
        </div>

        <!-- type -->
        <div class='input-group'>
                <label for='chart-type'>Chart type</label>
                <select id='chart-type' type='text'>
                        <option value='executor'>Executor</option>
                        <option value='validator'>Validator</option>
                        <option value='provider'>Provider</option>
                        <option value='analyst'>Analyst</option>
                </select>
        </div>

        </div>

        <div id='chart-type-form'></div>
        <div>
                <input type='checkbox' id='chart-act' {{act}}>
                <label for='chart-act'>active</label>
        </div>
</div>
