<div class='infotext'>Chart In/Out port ({{id}})</div>

<div style='display:grid;grid-template-columns:1fr 1fr;gap:10px'>
    <div style='display:flex;flex-direction:column;gap:10px'>
        <table id='file-requires'>
            <tr><th colspan='2'>requires</th></tr>
        </table>
        <button id='add-required-file'>add row</button>
    </div>
    <div style='display:flex;flex-direction:column;gap:10px'>
        <table id='file-provides'>
            <tr><th colspan='2'>provides</th></tr>
        </table>
        <button id='add-provided-file'>add row</button>
    </div>
</div>

<div class='control-group'>
    <button id='update-link-reqs-prov'>Update</button>
</div>
