{% extends "main.html" %}
{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='gurdesk.css') }}">
{% endblock %}
{% block scripts %}
<!-- noscript for this page -->
{% endblock %}
{% block content %}
<form action="login" method="post" id='sform' class='passbox'>
	<div class='dtitle'>
		<div class='warning'>
		{{ login_status }}
		</div>
		User account required to access this page
	</div>	
	<div class='evenvert'>
			<label for="username" class="sfield">User name:</label>
			<input type="text" id="username" name="username" class="sedit">
			<label for="password" class="sfield">Password:</label>
			<input type="password" id="password" name="password" class="sedit">
	</div>

	<div class='evenhoriz'>
		<button type="submit" class="sbutton" name="login">LOGIN</button>
		<button type="submit" class="sbutton" name="register">REGISTER</button>
	</div>
</form>
{% endblock %}
{% block userscript %}
<!-- noscript for this page -->
{% endblock %}
